<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
<robot name="rover" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="imu_sensor" params="parent_link">

    <joint name="Sensor_link_joint" type="fixed">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.00000"/>
      <parent link="${parent_link}"/>
      <child link="Sensor_link"/>
    </joint>

    <link name="Sensor_link"/>

    <gazebo reference="Sensor_link">
      <sensor name="imu_sensor" type="imu">
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <topic>/imu_data</topic>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>