<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
<robot name="rover" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="utils">

    <material name="Material">
      <color rgba="0.14118 0.13333 0.13725 1.00000"/>
    </material>
    <material name="Material.001">
      <color rgba="0.37255 0.37255 0.37255 1.00000"/>
    </material>
    <material name="Material.002">
      <color rgba="0.18824 0.00000 0.00392 1.00000"/>
    </material>
    <material name="Material.007">
      <color rgba="0.00000 0.00000 0.00000 1.00000"/>
    </material>
    <material name="Material.008">
      <color rgba="0.23922 0.23922 0.23922 1.00000"/>
    </material>

  </xacro:macro>
</robot>