<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
<robot name="rover" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="robot_base">

    <joint name="pared_d_link_joint" type="fixed">
      <origin rpy="0.00000 -1.57080 0.00000" xyz="0.57500 -0.61000 0.75000"/>
      <parent link="base_link"/>
      <child link="pared_d_link"/>
    </joint>
    <joint name="pared_delantera_link_joint" type="fixed">
      <origin rpy="1.57080 -1.57080 0.00000" xyz="0.00000 0.01000 0.75000"/>
      <parent link="base_link"/>
      <child link="pared_delantera_link"/>
    </joint>
    <joint name="pared_i_link_joint" type="fixed">
      <origin rpy="-0.00000 1.57080 0.00000" xyz="-0.57500 -0.61000 0.75000"/>
      <parent link="base_link"/>
      <child link="pared_i_link"/>
    </joint>
    <joint name="pared_trasera_link_joint" type="fixed">
      <origin rpy="-1.57080 1.57080 0.00000" xyz="0.00000 -1.23000 0.75000"/>
      <parent link="base_link"/>
      <child link="pared_trasera_link"/>
    </joint>

    <link name="Cilindro_link">
      <collision name="Cilindro_collision">
        <origin rpy="0.00000 -0.00000 0.00000" xyz="-0.00000 0.00000 -0.00000"/>
        <geometry>
          <mesh filename="file://$(find rover_description)/meshes/dae/Cilindro.008.dae" scale="0.15000 0.15000 0.10000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="0.00223" ixy="0.00000" ixz="-0.00000" iyy="0.00223" iyz="0.00000" izz="0.00279"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 -0.00000"/>
        <mass value="0.25000"/>
      </inertial>
      <visual name="Cilindro">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <material name="Material"/>
        <geometry>
          <mesh filename="file://$(find rover_description)/meshes/dae/Cilindro.008.dae" scale="0.15000 0.15000 0.10000"/>
        </geometry>
      </visual>
    </link>

    <joint name="base_link_joint" type="fixed">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.20000"/>
      <parent link="base_footprint"/>
      <child link="base_link"/>
    </joint>
    <link name="base_footprint"/>
    <link name="base_link">
      <collision name="Cube_collision">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <geometry>
          <box size="1.20000 2.50000 1.00000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="18.12499" ixy="-0.00000" ixz="0.00000" iyy="6.10000" iyz="0.00000" izz="19.22499"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <mass value="30.00000"/>
      </inertial>
      <visual name="Cube">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <material name="Material.002"/>
        <geometry>
          <mesh filename="file://$(find rover_description)/meshes/dae/Cube.dae" scale="0.60000 1.25000 0.50000"/>
        </geometry>
      </visual>
    </link>

    <link name="pared_d_link">
      <collision name="pared_d_collision">
        <origin rpy="-0.00000 1.57080 0.00000" xyz="-0.00000 0.00000 0.00000"/>
        <geometry>
          <box size="0.05000 1.30000 0.50000"/>
        </geometry>
      </collision>
      <visual name="pared_d">
        <origin rpy="-0.00000 1.57080 0.00000" xyz="-0.00000 0.00000 -0.00000"/>
        <material name="Material"/>
        <geometry>
          <box size="0.05000 1.30000 0.50000"/>
        </geometry>
      </visual>
    </link>
    <link name="pared_delantera_link">
      <collision name="pared_delantera_collision">
        <origin rpy="1.92225 1.57080 1.92225" xyz="0.00000 -0.00000 0.00000"/>
        <geometry>
          <box size="0.05000 1.10000 0.50000"/>
        </geometry>
      </collision>
      <visual name="pared_delantera">
        <origin rpy="2.12339 1.57080 2.12339" xyz="-0.00000 -0.00000 0.00000"/>
        <material name="Material"/>
        <geometry>
          <box size="0.05000 1.10000 0.50000"/>
        </geometry>
      </visual>
    </link>
    <link name="pared_i_link">
      <collision name="pared_i_collision">
        <origin rpy="0.00000 -1.57080 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <geometry>
          <box size="0.05000 1.30000 0.50000"/>
        </geometry>
      </collision>
      <visual name="pared_i">
        <origin rpy="0.00000 -1.57080 0.00000" xyz="-0.00000 -0.00000 -0.00000"/>
        <material name="Material"/>
        <geometry>
          <box size="0.05000 1.30000 0.50000"/>
        </geometry>
      </visual>
    </link>
    <link name="pared_trasera_link">
      <collision name="pared_trasera_collision">
        <origin rpy="-1.57080 -1.57080 1.57080" xyz="0.00000 0.00000 0.00000"/>
        <geometry>
          <box size="0.06000 1.10000 0.50000"/>
        </geometry>
      </collision>
      <visual name="pared_trasera">
        <origin rpy="-1.57080 -1.57080 1.57080" xyz="0.00000 0.00000 -0.00000"/>
        <material name="Material"/>
        <geometry>
          <box size="0.06000 1.10000 0.50000"/>
        </geometry>
      </visual>
    </link>

  </xacro:macro>
</robot>