<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">

    <!-- includes -->
    <xacro:include filename="$(find rover_description)/urdf/base/robot_base.urdf.xacro"/>
    <xacro:include filename="$(find rover_description)/urdf/wheels/rover_wheel.urdf.xacro"/>
    <xacro:include filename="$(find rover_description)/urdf/arm/scara.urdf.xacro"/>
    <xacro:include filename="$(find rover_description)/urdf/arm/gripper.urdf.xacro"/>
    <xacro:include filename="$(find rover_description)/urdf/ros2_control.urdf.xacro"/>
    <xacro:include filename="$(find rover_description)/urdf/utils/utils.urdf.xacro"/>

    <xacro:include filename="$(find rover_description)/urdf/sensors/camera_grip.urdf.xacro"/>
    <xacro:include filename="$(find rover_description)/urdf/sensors/front_camera.urdf.xacro"/>
    <xacro:include filename="$(find rover_description)/urdf/sensors/imu_sensor.urdf.xacro"/>


    <!-- argumentos -->
    <xacro:arg name="robot_ns" default=""/>
    <xacro:arg name="prefix" default=""/>

    <!-- Robot Parts -->

    <!-- Base -->
    <xacro:robot_base/>

    <!-- utils -->
    <xacro:utils/>

    <!-- Wheels -->
    <xacro:rover_wheel parent_link="base_link">
    </xacro:rover_wheel>

    <!-- Arm -->
    <xacro:scara parent_link="base_link">
    </xacro:scara>
    <xacro:gripper parent_link="Cilindro_verti_5_link">
    </xacro:gripper>


    <!-- Sensors -->
    <xacro:camera_grip parent_link="base_link">
    </xacro:camera_grip>

    <xacro:front_camera parent_link="base_link">
    </xacro:front_camera>

    <xacro:imu_sensor parent_link="base_link">
    </xacro:imu_sensor>

    <!-- Gazebo ROS control plugins -->

    <!--<xacro:include filename"$(find rover_description)/urdf/ros2_control.urdf.xacro"/>-->
    <xacro:arg name="config_controllers" default="$(find rover_description)/config/rover_control.yaml"/>
    <xacro:arg name="update_rate" default="100"/>


    <xacro:ros2_control/>
</robot>